/* 
    Document   : pagina-inicial
    Created on : 27/04/2013, 22:59:14
    Author     : leandro
    Description:
        Purpose of the stylesheet follows.
*/
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
html *{
    font-family: 'Comfortaa', cursive;
}
html{
    color: #544F55;
}
a, a:hover, a:focus{
    color: #E77353;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

/* cores de fundo */
.fundo-azul{
    background-color: #69C8C9;
}
.fundo-azul-titulo{
    background-color: #C2E9EA;
}

.fundo-azul-descricao{
    background-color: #E1F4F5;
}

.fundo-branco{
    background-color: #FFFFFF;
}

.fundo-cinza-escuro{
    background-color: #544F55;
}
/* fim - cores de fundo */
/* cores de texto */
.texto-laranja{
    color: #F17E53;
}
.texto-branco{
    color: #FFFFFF;
}
.texto-escuro{
    color: #544F55;
}
/* fim - cores de texto */

/* tamanho de texto */
.txt11{
    font-size: 11px;
}

.txt12{
    font-size: 12px;
}

.txt13{
    font-size: 13px;
}

.txt15{
    font-size: 15px;
}

.bold{
    font-weight: bold;
}
/* fim - tamanho de texto */

/* Arredondamentos */
.borda-esquerda-rodape-radio-personalizado{
    -webkit-border-bottom-left-radius: 80px 100px;
    -moz-border-radius-bottomleft: 80px 100px;
    border-bottom-left-radius: 80px 100px;
    border-left: solid #fff 5px;
}

.arredondar{
    border-radius: 0.5em;
    padding: 0.357em;
}

.arredondar-topo{
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding: 0.357em;
}

.borda-cinza{
    box-shadow: 0px 0px 2px 2px #EDEDED;
}
/* fim - Arredondamentos */

/* Menu Superior */
.top-bar{
    height: 30px;
    line-height: 28px;
}
.top-bar input{
    top:1px;
}
#menu-superior {
    margin-bottom : 0.5em;
}
#menu-superior .box-informacoes-usuario .image-profile{
    height: 24px;
    width: 24px;
}
#menu-superior input{
    border-radius: 5px;
}
/* fim - Menu Superior */
/* Menu Lateral */
#menu-lateral .image-profile{
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu-lateral .perfil{
    min-height: 325px;
    -webkit-border-bottom-right-radius: 170px 120px;
    -moz-border-radius-bottomright: 170px 120px;
    border-bottom-right-radius: 170px 120px;
    border-bottom: solid #fff 10px;
}
#menu-lateral .box-informacoes-usuario .nome{
    color: #FFFFFF;
}
#menu-lateral .box-informacoes-usuario .image-profile{
    height: 137px;
    width: 137px;
}

#menu-lateral .sub-menu-lateral{
    margin-top: 0.875em;
}
#menu-lateral .sub-menu-lateral ul.side-nav{
    border-top: solid #706B71 2px; 
    border-bottom: solid #706B71 2px;
    margin-bottom: 10px;
}

.badge{
    margin: 2px;
}
/* fim - Menu Lateral */

/* Segunda coluna */
.mensagem-perfil{
    min-height: 100px;
}

.box-divulgacao{
    padding: 10px;
}

.box-divulgacao .row{
    margin-bottom: 0.5em;
}

.comentario textarea{
    background-color: #f6f6f6;
    margin: 0px 0px 14px;
    height: 57px;
    width: 100%;
    resize: none;
}

.info-de-postagem img{
    height: 56px;
    width: 56px;
    border:solid #fefefe 2px;
}
#timeline-interesse{
    margin-bottom: 1.5em;
}
/* fim - Segunda coluna */

/* Box Divulgação evento */
.box-divulgacao.evento .titulo{
}
.box-divulgacao.evento .descricao-divulgacao{
    border-top: solid #EDEDED 1px;
    border-bottom: solid #EDEDED 1px;
}
.box-divulgacao.evento .localizacao .columns{
    border-left: solid #B0E3E3 1px;
    min-height: 85px;
}
.box-divulgacao.evento .localizacao .columns:first-child{
    border: none;
}
/* fim - Box Divulgação evento */

